@use './mixin.scss' as *;

$backgroundColor: #2e3440;
$fontColor: #fff;

$transparentColor: rgba(255, 255, 255, 0.1);

* {
  font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $backgroundColor;

  #timers {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 16px;
    border-top: 1px solid $transparentColor;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 8px 16px;
      margin: 4px;
      background-color: $transparentColor;
      border-radius: 4px;
      cursor: pointer;

      @include opacity-animation;

      span {
        position: relative;
        color: $fontColor;
        font-size: 2vh;

        b {
          position: absolute;
          top: -4px;
          right: -16px;
          font-size: 0.7rem;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.timer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  span {
    text-align: center;
    font-size: 17vw;
    color: $fontColor;
    cursor: pointer;
    @include opacity-animation;

    &:hover {
      opacity: 0.3;
    }
  }
}

#background-timer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $transparentColor;
  z-index: 1;
  pointer-events: none;

  @include opacity-animation(bottom);
}

#information-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px;

  img {
    width: 100%;
    cursor: pointer;
  }

  ul {
    position: absolute;
    padding: 8px;
    top: -1000px;
    left: 28px;
    border-radius: 8px;
    transition: top 0.6s;
    list-style: none;
    font-size: 1.5vh;
    line-height: 1.1;
    background-color: #ccc;
  }

  &:hover {
    ul {
      top: 0;
    }
  }
}

.gh-link {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    object-position: center;
  }
}

@media (max-width: 1024px) {
  #timers > li > span b {
    display: none;
  }

  #information-icon {
    display: none;
  }
}
